body {
    /* background-color: rgb(41, 37, 37); */
    background: linear-gradient(50deg, rgb(41, 37, 37) 50%, rgb(37, 37, 41) 50%);
    color: snow;
    align-items: center;

    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: larger;

}
.container {
    /* min-height: 100vh; */
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}
header {
    border-bottom: 1px solid #eaeaea;
    padding: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
}


h1 {
    font-size: 5em;
}
h2 {
    font-size: 3em;
    margin: 0 !important
}
p {
    font-size: 1.75em;
    color: snow;
}
form {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display:flex;
}

input {
    flex-direction: column;
    background-color:snow;
    color:rgb(41, 37, 37);
    border: 1px solid #c8cdee;
    height: 4em;;
    font-size: 0.75em;
    font-weight:900;
}

output {
    margin-left: 90%;
    font-size: 1.6em;
}

  button {
    background-color: transparent;
    border-color: transparent;
    color:snow !important;
    font-weight: bolder;
    font-size: larger;
  }
  
  button:focus {
    border: 1px solid #d9d9d9;
  }

  .bigButton {
    background-color: transparent;
    border-color: transparent;
    color:snow !important;
    font-weight: bolder;
    font-size: 19px;
    margin: 2px;
  }
  
  .bigButton:focus {
    border: 1px solid #d9d9d9;
  }

/* named items pro- pronouns year/month/day is birthday */
#nameInput {
    width: 60em !important;
}
#yearInput, #monthInput, #dayInput {
    margin:2em;
    text-align: center;
    width:20%;
    background-color: transparent;
    color:snow;
}
#proSection {
    width:75%
}
#proForm{
    text-align: center;
}
#proInstruct {

    opacity:50%;
}

.proButton {
font-size: 2em;
width:20%
/* padding:1.10em */
}

#proSubmit {
    margin-left:43%; 
    margin-top: 1em;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border: 1px solid #c0cfd1;
}
input:focus {
    color: #2f1f1fb0;
    border: 1px solid #b4b5c3;
  }
  input:hover {

   
    background-color: #bdd7e6;
    color: #1e3069;
    box-shadow: whitesmoke;
  }

